@import '../../styles/variables/colors.scss';

.header {
    font-size: 14px;
    background-color: $colorWhite;

    &__delivery-info {
      padding: 9px 10%;
      display: flex;
      border-bottom: 1px solid $colorLineGray;  
    };

    &__menu {
        padding: 9px 10%;
        display: flex;
        border-bottom: 1px solid $colorLineGray;  
      };
};

.delivery-info__location {
    display: flex;
    align-items: center;
    margin-right: 40px;
};

.location__logo {
    margin-right: 8px;
};

.delivery-info__check-location {
    text-decoration: none;
    color: $colorBlack;
    margin-right: 40px;
};

.delivery-info__work-time {
    margin-left: auto;
};

.delivery-info__account {
    display: flex;
    align-items: center;
    margin-left: 40px;
    border: none;
    background-color: $colorWhite;
    cursor: pointer;
    text-align: center;
}

.account__logo {
    margin-right: 8px;
};

.average-delivery-time__actual {
    font-weight: 700;
};

.menu {
    &__cart {
        display: flex;
        align-items: center;
        background-color: $colorOrange;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        margin-left: auto;
        font-size: 16px;
        color: $colorWhite;
        cursor: pointer;
    };
    &__logo {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600px;
    };
};

.logo__img {
    margin-right: 12px;
};

.cart__logo {
    margin-right: 8px;
};
